<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="dependencyVersion" value="Highest" />
        <add key="signatureValidationMode" value="require" />
        <add key="maxHttpRequestsPerSource" value="16" />
    </config>

    <bindingRedirects>
        <add key="skip" value="True" />
    </bindingRedirects>

    <packageRestore>
        <add key="enabled" value="true" />
        <add key="automatic" value="true" />
    </packageRestore>

    <solution>
        <add key="disableSourceControlIntegration" value="true" />
    </solution>

    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
</configuration>